---
import projectsData from "../../../data/cv.json";
import Layout from "../../../src/layouts/Layout.astro";
//Function que retorna totes les rutes dinamiques per generear a la creacio del built
export async function getStaticPaths(){
    //Mapejar els estudis per generar els parametres id per cada ruta dinamica
    const paths = projectsData.projects.map(project => ({
        params: {slug: project.slug}
    }))
    return paths;
}
//Obtenir el id de la ruta dinamica
const {slug} = Astro.params;

//Busquem el projecte per id
const project = projectsData.projects.find(project => project.slug == slug);

//Si no troba projecte llança error
if (!project){
    throw new Error("Projecte no trobat");
}
---

<Layout>
    <div class="project">
        <h1 class="project-name">{project.name}</h1>
        <p class="project-description">{project.description}</p>
        <img class="project-image" src={project.image} alt="Imagen del proyecto">
        <p class="project-license project-description">{project.licenseImage}</p>
        <p class="project-description">{project.largeDescription}</p>
        <a href={project.url}>Preview {project.name}</a>
        <div class="project-video">
            <video src={project.video} autoplay loop muted></video>
        </div>
    </div>
    
</Layout>

<style>
    .project{
        font-family: sans-serif;
    }
    .project-name{ 
        font-size: 20px;
        font-weight: 600;
    }
    .project-description{ 
        font-size: 18px;
        font-weight: 500;
        color: #64748B;
    }
    .project-image{ 
        width: 100%;
        height: 240px;
        object-fit: cover;
        border: 7px solid #e5e7eb;
        border-radius: 15px;
    }
    .project-video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .3;
        z-index: 0;
    }
    .project-license{
        display: flex;
        justify-content: right;
    }
    .project a {
        display: flex;
        text-decoration: none;
        font-size: 18px;
        color: #3c3d3d;
        margin-top: 20px;
    }
</style>
